<!DOCTYPE html>
<html>
    <head>
        <title>Here's Your Workout Plan</title>
    </head>
    <body style="font-family: Arial; max-width: 700px; margin: auto;">
        {% if plan %}
            <h1> {{ plan.title }} </h1>
            <h2> Your Onboarding Info: </h2>

            <p> Goal: {{ onboarding.goal }}</p>
            <p> Days Per Week: {{ onboarding.days_per_week }}</p>
            <p> Weight: {{ onboarding.weight }}</p>
        
            <hr>
            {% for workout_day in plan.days %}
                <div style = "border: 1px solid #ccc; padding: 15px; margin-bottom: 20px;">
                <h2>
                    {{ workout_day.day }} - {{ workout_day.focus }}
                </h2>
                <ul>
                    {% for exercise in workout_day.exercises %}
                    <li>
                        <strong> {{ exercise["name"] }} </strong>
                        {% if exercise.media_url %}
                            <br>
                            <img src = "{{ exercise['media_url'] }}" alt = "{{ exercise['name'] }}" width = "200">
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                </div>
            {% endfor %}
        {% else %}
            <p> No workout plan available. </p>
        {% endif %}
        <br><br>
        <a href = "{{ url_for('main.home') }}"> Back to Home </a>
        <br>
        <a href = "{{ url_for('onboarding.onboarding') }}"> Make Another Plan </a>
    </body>
</html>